.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.controls__item {
  margin: 10px;
  text-align: center;
  align-items: center;
}

.controls__icon {
  width: 17px;
  margin-right: 5px;
}

.controls__symbol {
  display: inline-block;
  min-width: 25px;
}

.controls__reset {
  cursor: pointer;
}

.controls__item:hover,
.controls__item:focus {
  outline: none;
}