body {
  background-color: rgb(242, 243, 244);
  color: #2c3e50;
  font-family: Helvetica;
}

a {
  color: #2c3e50;
  text-decoration: none;
}

.layout {
  max-width: 615px;
  margin: 0 auto;
}

.grid {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 60px;
  margin: 10px;
}

.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  /* fade styles */
  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

.nav__link {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 20px;
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #34495e;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 18px;
}

#nav-icon span:nth-child(3) {
  top: 36px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@-webkit-keyframes fadeIn{
  0%{
      opacity:0;
      -webkit-transform:translateX(200px);
      transform:translateX(200px)
  }
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0)
  }
}
@keyframes fadeIn{
  0%{
      opacity:0;
      -webkit-transform:translateX(200px);
      -ms-transform:translateX(200px);
      transform:translateX(200px)
  }
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0)
  }
}
.fadeIn{
  -webkit-animation-name:fadeIn;
  animation-name:fadeIn;
}

@-webkit-keyframes fadeOut{
  0%{
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0)
  }
  100%{
      opacity:0;
      -webkit-transform:translateX(200px);
      transform:translateX(200px)
  }
}
@keyframes fadeOut{
  0%{
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0)
  }
  100%{
      opacity:0;
      -webkit-transform:translateX(200px);
      -ms-transform:translateX(200px);
      transform:translateX(200px)
  }
}
.fadeOut{
  -webkit-animation-name:fadeOut;
  animation-name:fadeOut;
}
